aiocron==1.3
aiofiles==0.6.0
aiohttp==3.6.2
aioredis==1.3.1
astroid==2.4.2
async-timeout==3.0.1
asyncpraw==7.1.0
asyncprawcore==1.5.0
attrs==20.2.0
beautifulsoup4==4.9.3
blinker==1.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
croniter==0.3.36
discord.py==1.5.0
dnspython==1.15.0
dnspython3==1.15.0
emoji==0.6.0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Sockets==0.2.1
fuzzywuzzy==0.18.0
gevent==20.9.0
gevent-websocket==0.10.1
gitdb==4.0.5
GitPython==3.1.9
greenlet==0.4.17
gunicorn==20.0.4
h11==0.11.0
h2==4.0.0
hiredis==1.1.0
hpack==4.0.0
Hypercorn==0.11.1
hyperframe==6.0.0
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mcstatus==4.0.0
multidict==4.7.6
natsort==7.0.1
Pillow==7.2.0
praw==7.1.0
prawcore==1.5.0
priority==1.3.0
pycparser==2.20
pylint==2.6.0
PyNaCl==1.3.0
python-dateutil==2.8.1
python-Levenshtein==0.12.0
python-resize-image==1.1.19
pytz==2020.4
Quart==0.14.1
Quart-CORS==0.3.0
redis==3.5.3
requests==2.24.0
selenium==3.141.0
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
timestring==1.6.4
toml==0.10.2
twemoji-parser==0.4.2
tzlocal==2.1
update-checker==0.18.0
urllib3==1.25.10
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
yarl==1.6.0
youtube-dl==2020.9.20
zope.event==4.5.0
zope.interface==5.1.2
