<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png" />
    <link rel="manifest" href="/assets/icons/site.webmanifest" />
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/69d45d8e8c.js" crossorigin="anonymous"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />

    <!-- site-specific -->
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/theme.css" />


    <title>Breqbot</title>

</head>

<body>

    <div class="navbar sticky-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">bot.breq.dev</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-hamburger"></span> <!-- haha, hamburger menu -->
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/status">status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guild">guild</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bugs">bugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/github">github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/invite">invite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://breq.dev/">breq</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container page">
    {% block content %}
    {% endblock %}
</div>



<div class="footer">
    <div class="container">
        <br>
        <br>
        <p>
            made with <i class="fas fa-heart" aria-hidden="true"></i>
            <span class="sr-only">love</span> by breq,

            <i class="far fa-copyright" aria-hidden="true"></i>
            <span class="sr-only">copyright</span> 2020,

            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="sr-only">github</span>
            <a href="https://github.com/Breq16/breqbot" target="_blank">Breq16/breqbot</a>
        </p>
        <br>
        <p>

            <i class="fas fa-envelope" aria-hidden="true"></i>
            <span class="sr-only">email</span>

            <a href="mailto:breq@breq.dev" target="_blank">breq@breq.dev</a>

            •

            <i class="fab fa-discord" aria-hidden="true"></i>
            <span class="sr-only">discord</span>

            <span>Breq#8296</span>

            •

            <i class="fab fa-keybase" aria-hidden="true"></i>
            <span class="sr-only">keybase</span>

            <a href="https://keybase.io/breq" target="_blank">breq</a>

            •


            <a href="https://breq.dev/contact" target="_blank">more
                <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
            </p>
            <br>
            <br>
        </div>
    </div>
