{% extends 'base.html' %}

{% block content %}
<br>
<div class="jumbotron">
    <h1 class="username">Breqbot</h1>
    <p class="lead">
        A fun Discord bot with games for your server.
        Made with &lt;3 by <a href="https://breq.dev/"><strong>Breq</strong></a>.
    </p>
</div>

<div class="center-text">
    <a href="/invite"><button type="button" class="btn btn-primary btn-xl">Invite Breqbot to your server</button></a>
</div>

<br><br>

<div class="center-text">
    <h1>Features</h1>
</div>

<div class="card-columns index-cards">
    <div class="card">
        <div class="card-body">
            <h1>Economy</h1>
            <p><em>Customize your server's economy to your heart's content.</em></p>
            <p>
                With Breqbot, each server has a completely separate economy, with its own shop and items.
                Unlike other currency bots, members have a separate wallet for each server they join.
                This keeps communties tight-knit, limits the potential of users to cause harm,
                and gives server admins the freedom to control their server's economy.
            </p>
            <p>
                Admins, or "shopkeepers," can set prices and create items at will.
                These items and prices are unique to each server.
                Have a server with your Minecraft buddies?
                Fill the shop with Minecraft-themed items.
                Hanging out with LGBTQ+ friends?
                Let people buy their virtual pride flag!
                When you can theme your shop around your community, instead of the other way around,
                the possibilities are endless.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1>Apps & Games</h1>
            <p><em>Play together collaboratively, right within Discord.</em></p>
            <p>
                Using some message-reaction trickery, Breqbot can embed games directly
                within a Discord message.
                Ever wanted to play 2048 with your friends?
                Now you can, right within your server.
            </p>
            <p>
                The Soundboard app is another feature that sets Breqbot apart.
                Breqbot can join a voice channel, listen for message reactions,
                and play sound effects. (Again, these are customizable.)
            </p>
            <p>
                Breqbot features a customizable reaction-roles feature as well.
                Add, remove, and modify role menus - no need to delete and start
                over just to tweak a few roles.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1>Feeds</h1>
            <p><em>Share content from a variety of sources.</em></p>
            <p>
                These days, it seems like every bot out there has Reddit commands.
                But Breqbot can fetch info from an extensive list of sources:
                everything from Minecraft server MOTDs to <a href="https://xkcd.com/">XKCD</a>.
            </p>
            <p>
                Additionally, Breqbot can watch comics for changes and automatically post them in configurable channels,
                so you never miss an episode of
                <a href="https://www.webtoons.com/en/challenge/i-want-to-be-a-cute-anime-girl/list?title_no=349416&page=1">
                    <em>I Want To Be A Cute Anime Girl</em></a>.
            </p>
            <p>
                Breqbot also uses caching techniques to provide faster Reddit commands than most other Discord bots.
                By caching top posts from 20+ popular subreddits, Breqbot can send Reddit posts without touching Reddit's API.
                (And for more niche subs, Breqbot is still plenty fast.)
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1>Portal</h1>
            <p><em>Connect Discord to the real world like never before.</em></p>
            <p>
                Breqbot's innovative Portal interface allows other modules to connect and provide functionality.
                But Portal goes beyond the typical "custom commands" feature.
                With Portal, code is run right on your hardware, providing limitless opportunity for extension.
            </p>
            <p>
                Because Portals can be hosted anywhere, they are perfect for connecting Discord apps to real-world devices.
                No need to worry about setting up a webhook server or port-forwarding - data is sent over a secure WebSocket connection.
                Set up a Portal from a device like Raspberry Pi, and your server can control your Pi project right from Discord.
            </p>
            <p>
                The Portal API allows Portals to set status information - just like Discord bots -
                and Portal connections will automatically detect failure and reconnect.
                In other words, Portal handles the hard networking stuff,
                so you can focus on making the world's most awesome Discord-controlled projects.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1>Profile</h1>
            <p><em>Customize your presence on your server.</em></p>
            <p>
                Discord doesn't offer much in the way of user profiles:
                You can link a few social media sites, but you can't do much more.
                Breqbot has the solution: Customizable cards with a member's name, avatar, custom background, and bio.
            </p>
            <p>
                The possibilities for this are endless: Show if your DMs are open or closed, your pronouns,
                your personal website or social media, or how to best contact you outside of Discord.
                As with everything Breqbot does, your profile stays unique to each server,
                so you can keep what's relevant where it needs to be.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1>Community</h1>
            <p><em>Join our community to discuss Breqbot and suggest features</em></p>
            <p>
                We have a public Discord server to discuss and test Breqbot <a href="/guild">here</a>.
                Come join, try out some commands, or request some new features!
            </p>
        </div>
    </div>
</div>

<div class="center-text">
    <a href="/invite"><button type="button" class="btn btn-primary btn-xl">Ready to try it out?</button></a>
</div>

<br>

<div class="center-text">
    <p class="small">made with &lt;3 by <a href="https://breq.dev/">breq</a>. (c) 2020</p>
</div>

{% endblock %}
