<div class="navbar sticky-top navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">bot.breq.dev</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-hamburger"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/status">status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guild">guild</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bugs">bugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/invite">invite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://breq.dev/">breq</a>
                </li>
            </ul>
        </div>
    </div>
</div>
