{% extends 'base.html' %}

{% block content %}
<br>
<div class="jumbotron profile-bg" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ profile_img }}'); background-size: cover; background-position: center;">
    <h1 class="username">{{ user }}</h1>
    <p class="lead">is on</p>
    <h1 class="server"><a href="/{{ server_id }}">{{ server }}</a></h1>
    <p>({{ server_size }} members)</p>
    <h1 class="server">{{ profile_desc }}</h1>
</div>

<div class="balance-parent">
    <div class="balance rounded-pill">
        <h3 class="balance-text">Balance: <span class="balance-number">{{ balance }}</span> coins</h3>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm">
        <div class="table">
            <h3>Inventory</h3>
            {% if inventory %}
            <table>
                <tr>
                    <th style="width: 20%;">Qty</th>
                    <th>Item</th>
                    <th>Description</th>
                </tr>
                {% for item in inventory %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[0].name }}</td>
                    <td>{{ item[0].desc }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <br>
            <p>{{ user }}'s inventory is empty.</p>
            {% endif %}
        </div>
    </div>
    <div class="col-sm">
        <div class="table">
            <h3>Outfit</h3>
            {% if wearing %}
            <table>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                </tr>
                {% for item in wearing %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.desc }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <br>
            <p>{{ user }} does not have an outfit.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
